*{
    margin: 0;
    padding: 0;
}

:root {
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
    background-color: antiquewhite;
}

.sidebar__header {
    grid-column: 1/1;
    grid-row: 1/3;
}

.sidebar__app-nav {
    grid-column: 1/1;
    grid-row: 4/11;
}

.sidebar__support-nav {
    grid-column: 1/1;
    grid-row: 12/16
}

.header {
    grid-column: 2/6;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: azure;
}

.header__search {
    grid-column: 2/13;
    grid-row: 1/2;
}

.header__greeting {
    grid-column: 2/13;
    grid-row: 2/3;
}

.header__profile {
    grid-column: 15/20;
    grid-row: 1/2;
}

.header__actions {
    grid-column: 13/20;
    grid-row: 2/3;
}

.main {
    grid-column: 2/6;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: aliceblue;
}

.project {
    grid-column: 1/9;
    grid-row: 1/11;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.project__title {
    grid-column: 1/9;
    grid-row: 1/2;
}

.project__list {
    grid-column: 1/9;
    grid-row: 2/11;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%,50%));
    overflow: scroll;
}

.info {
    grid-column: 9/12;
    grid-row: 1/11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(13, 49.5167px);
    overflow: scroll;
}

.announcement {
    grid-column: 1/4;
    grid-row: 1/7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.announcement__title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.announcement__list {
    grid-column: 1/4;
    grid-row: 2/7;
}

.trending {
    grid-column: 1/4;
    grid-row: 8/14;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.trending__title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.trending__list {
    grid-column: 1/4;
    grid-row: 2/7;
}

